<!--
.classSection
{
    MARGIN-LEFT: 4em;
    MARGIN-RIGHT: 4em;
}
.classTitle
{
    COLOR: #666666;
    FONT-SIZE: 18px;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
    margin-left: 1em; 
}
.classSectionTitle
{
    COLOR: #666666;
    FONT-SIZE: 16px;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 2em;
}

.classSectionSubTitle
{
    COLOR: #666666;
    FONT-SIZE: 14px;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
    MARGIN-LEFT: 3em;
}

.code
{
    BACKGROUND: #CECECE;
    font-family : "Lucida Console",courier,"courier new",monospace;
    FONT-SIZE: 12px;
    
}

.exampleOut
{
   border-style: dashed;
    border-width: 2px;
    border-color: #CECECE;
}

.exampleOutConsole
{
    background : #000000 no-repeat scroll;
    FONT-SIZE: 12px;
    COLOR: #FFFFFF;
    border : medium ridge;
    clear : both;
    font-weight : bold;
    display : block;
    font-family : "Lucida Console",courier,"courier new",monospace;
}

BODY
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    //FONT-FAMILY: verdana, sans-serif;
    //FONT-FAMILY: serif;
    FONT-FAMILY:  serif
    FONT-SIZE: 16px;
    MARGIN: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

TABLE
{
   //border-style: solid;
	//border-width: 2px;
	//border-color: #CECECE;
	
}

TD
{
 
   text-align: left ;
}

TH
{
 
   text-align: left ;
   background-color: #CECECE ;
}


H1
{
    COLOR: #666666;
    FONT-SIZE: 16px;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
    margin-left: 2em ;
}
H2
{
    COLOR: #666666;
		FONT-SIZE: 14px;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
		MARGIN-LEFT: 4em;
}
H3
{
    COLOR: #666666;
		FONT-SIZE: 13px;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
		 MARGIN-LEFT: 6em;
}
H4
{
    COLOR: #666666;
		 FONT-SIZE: 12px;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
		 MARGIN-LEFT: 6em;	
}
H5
{
    COLOR: #666666;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
		MARGIN-LEFT: 6em;
}
H6
{
    COLOR: #666666;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
		MARGIN-LEFT: 6em;
}
.imblue
{
    COLOR: #333366;
}
.darkgrey
{
    COLOR: #333333;
}
.lightgrey
{
    COLOR: #cccccc;
}
.white
{
    COLOR: #ffffff;
}

HR
{
    width: 60%;
		COLOR: #333366;
		background-color: #CECECE;
		height: 3px;

}
BLOCKQUOTE
{
    COLOR: 666666;
}
EM
{
    COLOR: black;
    FONT-STYLE: italic;
    FONT-WEIGHT: normal;
}
STRONG
{
    COLOR: black;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
}
A
{
    COLOR: #333366;
    //FONT-WEIGHT: bold;
    TEXT-DECORATION: underline;
}

A:link
{
    COLOR: #333366;
    //FONT-WEIGHT: bold;
    TEXT-DECORATION: underline;
}
A:visited
{
    COLOR: #333333;
    //FONT-WEIGHT: bold;
    TEXT-DECORATION: underline;
}
A:active
{
    COLOR: #666666;
    //FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
A:hover
{
    COLOR: #669999;
    //FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
A.special
{
    COLOR: #000000;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.special:visited
{
    COLOR: #003366;
		FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.special:active
{
    COLOR: #000000;
		FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
}
A.special:hover
{
    COLOR: #003366;
    FONT-SIZE: 12px;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline;
}

.navigation
{
    background-color: #CECECE ;
    COLOR: #666666;
    FONT-SIZE: 18px;
    FONT-FAMILY: sans-serif;
    FONT-WEIGHT: bold;
    
    MARGIN-RIGHT: 0px;
    PADDING-BOTTOM: 5px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 50px;
    TEXT-ALIGN: right;
}

A.nav_links:link
{
    COLOR: #333366;
    FONT-SIZE: 12px;
    TEXT-DECORATION: underline;
}
A.nav_links:visited
{
    COLOR: #333333;
    FONT-SIZE: 12px;
    TEXT-DECORATION: underline;
}
A.nav_links::active
{
    COLOR: #666666;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none;
}
A.nav_links:hover
{
    COLOR: #669999;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none;
}

FORM.inline
{
    display:inline;
}

#Files
{
	BORDER-STYLE: Dashed;
	BORDER-WIDTH: 2px;
	border-color: #CECECE;
	width: 100%;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
}

#Folders
{
	PADDING-LEFT: 10px;
	BACKGROUND-COLOR: #CECECE;
	PADDING-BOTTOM: 10px;
}

//-->